@font-face {
  font-family: 'HelveticaNeue-regular';
  src: url('/fonts/HelveticaNeue-01.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue-light';
  src: url('/fonts/HelveticaNeue-Light-08.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue-Bold-02';
  src: url('/fonts/HelveticaNeue-Bold-02.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Muse-Italic';
  src: url('/fonts/muse-italic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Muse-Regular';
  src: url('/fonts/muse-regular.ttf') format('truetype');
  font-display: swap;
}

$font-fallback: 'OpenSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
  'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font-text: 'Inter', $font-fallback;

$font-title-regular: 'Muse-Regular';
$font-title-italic: 'Muse-Italic';
$font-text-light: 'HelveticaNeue-light';

$color-white: #fff;
$color-light-grey: #696969;
$color-dark-grey: #363636;
